:root {
    --input-border:1px solid #67707c;
    --input-border-active:2px solid #67707c;
    --shadow:#00000040;
    --form-background:#21262d;
   

  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

  
  @media screen and (prefers-color-scheme: light) {
    :root {
        --input-border-active:2px solid black;
        --input-border:1px solid black;
        --shadow:#00000040;
        --form-background:#ffffff;
     
    }
    ::-webkit-calendar-picker-indicator {
        filter: unset;
    }
  }
  

.inputForm{
    width: 100%;
    max-width: 800px;
    margin: 15px auto;
    box-shadow: 1px 1px 5px #00000040;
    border-radius: 4px;
    background-color: var(--form-background);
}
.inputForm input{
    color: var(--text-color);
}

.inputTitle{
    margin: 10px 20px;
    grid-column: 1/-1;
}
.inputItem{
   display: flex;
   flex-direction: column;
   margin: 10px 0px;
   padding: 15px;
   width: 100%;
}
@media only screen and (min-width: 1000px) {
    .inputForm{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
}
@media only screen and (max-width: 1000px) {
    .inputForm{
        width: 95vw;
        padding: 20px;
        min-width: 400px;
    }
}
.inputItem input{
    font-size: 20px;
    border: none;
    border-bottom: var(--input-border);
    color: var(--text-color);
    background:var(--form-background);
    padding: 5px 10px;
}
.inputItem file{
    font-size: 20px;
    border: none;
    border-bottom: var(--input-border);
    color: var(--text-color);
    background:var(--form-background);
    padding: 5px 10px;
}
.inputItem input[type='checkbox']{
    width: 20px;
    height: 20px;
}

.inputoption{
    margin: 10px;
}

.checkwrap{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.checkboxtitle{
    font-size: 18px;
}
.inputItem textarea{
    font-size: 20px;
    border: none;
    border-bottom: var(--input-border);
    color: var(--text-color);
    background:var(--form-background);
    padding: 5px 10px;
    resize: vertical;
}
.inputItem select{
    font-size: 20px;
    border: none;
    border-bottom: var(--input-border);
    color: var(--text-color);
    background:var(--form-background);
    padding: 5px 10px;
}
.inputItem input:focus-visible{
    border:none;
    outline: none;
    border-bottom: var(--input-border-active);
}

.inputItem label{
    font-size: 18px;
    margin: 10px;
}