:root {
    --header-color: #161b22;
    --no-button-color: #e63946;
    --yes-button-color: #388e3c;
    --btn-accent-color:#3a485a;
    --button-color: #21262d;
    --footer-color: #161b22;
    --input-border:1px solid #67707c;
    --input-border-hover:2px solid #67707c;
    --user-settings-color:#2f3a48;
    --text-color:#c9d1d9;
    --text-color-light:#c9d1d9;
    /*--background:#39414b;*/
    --background:#0d1117;
    --display-items:#9e9e9e1c;
    --mainFont:'Roboto', sans-serif;
  }
  
  @media screen and (prefers-color-scheme: light) {
    :root {
      --header-color: #1d3557;
      --no-button-color: #e63946;
      --yes-button-color: #388e3c;
      --input-border:1px solid black;
      --input-border-hover:2px solid black;
      --button-color: #457b9d;
      --btn-accent-color: #457b9d;
      --footer-color: #1d3557bf;
      --user-settings-color:white;
      --text-color:black;
      --text-color-light:white;
      --background:white;
    }
  }

/*///////////Login Form Css///////////*/

.loginLogo{
    width: 60%;
    padding: 10px 0px;
}


.loginWrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .loginBlock{
    margin-top: 100px;
    width: 400px;
    height: 500px;
    background-color:var(--background);
    box-shadow: 1px 1px 5px #00000096;
    text-align: center;
  }
  
  .loginBlock  h1{
    font-size: 60px;
  }
  
  .formItem{
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    color: var(--text-color);
    font-family: 'Roboto', serif;
    padding: 10px 5px;
    background-color: var(--background);
    border:none;
    border-bottom:var(--input-border);
  }
  
  .formItem:active{
    outline: none;
    border-bottom:var(--input-border-hover);
  }
  
  .formItem:focus-visible{
    outline: none;
    border-bottom:var(--input-border-hover);
  }
  
  .loginBlock form label{
  font-size: 12px;  
  }
  
  .loginSubmit{
    width: 80%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 4px;
    margin-top: 30px;
    color: var(--text-color-light);
    background: #404950ad;
  }
  