
table, th, td {
    border: none;
  }
  
  table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table.striped tr {
    border-bottom: none;
  }
  
  table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.5);
  }
  
  table.striped > tbody > tr > td {
    border-radius: 0;
  }
  
  table.highlight > tbody > tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
  }
  

  table.highlight > tbody > tr:hover {
      background-color: rgb(121 121 121 / 50%);
  }
  
  table.centered thead tr th, table.centered tbody tr td {
    text-align: center;
  }
  
  tr {
    border-bottom: 1px solid #67707c;
  }

  @media screen and (prefers-color-scheme: light) {
    table.highlight > tbody > tr:hover {
      background-color: rgba(242, 242, 242, 0.5);
    }
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
  
  
  td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
  }
  td a{
    margin-right: 10px;
  }
  
  @media only screen and (max-width: 992px) {
    table.responsive-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
      /* sort out borders */
    }
    table.responsive-table td:empty:before {
      content: '\00a0';
    }
    table.responsive-table th,
    table.responsive-table td {
      margin: 0;
      vertical-align: top;
    }
    table.responsive-table th {
      text-align: left;
    }
    table.responsive-table thead {
      display: block;
      float: left;
    }
    table.responsive-table thead tr {
      display: block;
      padding: 0 10px 0 0;
    }
    table.responsive-table thead tr th::before {
      content: "\00a0";
    }
    table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
    }
    table.responsive-table tbody tr {
      display: inline-block;
      vertical-align: top;
    }
    table.responsive-table th {
      display: block;
      text-align: right;
    }
    table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    table.responsive-table tr {
      border-bottom: none;
      padding: 0 10px;
    }
    table.responsive-table thead {
      border: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
.tableCatch{
    width: 100%;
    overflow-x: auto;
}